.user-nav {
  width: 40%;
  display: flex;
  justify-content: none;
  align-items: left;
  list-style: none;
  background-color: white;
}

.user-nav li {
  text-decoration: none;
  display: inline-block;
}
/* .UserClass {
  text-align: right;
  background-color: lightblue;
  display: flex;
  right: 100px;
  position: absolute;
  flex-direction: column;
  align-items: right;
  font-size: auto;
  color: white;
  height: 100px;
  width: 300px;
  padding: 30px;
} */
