.UserClass {
  text-align: left;
  background-color: lightblue;
  display: flex;
  right: 100px;
  position: absolute;
  flex-direction: column;
  align-items: left;
  font-size: auto;
  color: white;
  height: 100px;
  width: 300px;
  padding: 30px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: white;
  height: 100px;
  padding: 10px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: white;
}
